@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    width: 440px;
    height: 290px;
    border: none; /*tira as bordas */
    overflow: hidden; /*Tira as laterais*/
}

iframe#frame-spec::-webkit-scrollbar {
    display: none;
}